<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldi.movienjam">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/movie_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movie_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movienjam">
        <activity
            android:name="com.aldi.movienjam.ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aldi.movienjam.ui.main.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name="com.aldi.movienjam.ui.detail.DetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>